nav{
    position:relative;
    top: 17px;
}

#home{
    background-color: transparent;
    border:0;
    height: 50px;
    width: 100px;
}

#getStarted{
    box-sizing: border-box;
    float:right;
    width: 153px;
    line-height: 26px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    color: #268AFF;
    border-color:#268AFF;
    border-radius: 5px;
    border-width: 2px;
}

#FirstFrame{
    background-color: #E3EEF8;
    height:auto;
}

.landingPages{
    position:relative;
    margin: auto;
    top: 112px;
    text-align: center;
}

.landingPages > .container > .row > .lead{
    font-size: 11px;
    color: #6B6B6C;
    font-weight: bold;
    letter-spacing: 4px;
}

#landingPage{
    font-size: 46px;
}

.landingPages > .container > .row > #custom{
    font-size: 15px;
    color: #69696A;
}

.landingPages > .container > .row > #trust{
    font-size: 12px;
    color: #969BA0;
}

#email{
    position: relative;
    box-sizing: border-box;
    display:inline-block;
    text-align: center;
    border-radius: 5px;
    border: 0;
    width: 276px;
    padding-top: 23px;
    padding-bottom: 23px;
}

#sendEm{
    color: #FFFFFF;
    background-color: #FC593B;
    margin-left: 10px;
    padding: 23px 61px;
}

.possibilities{
    position: relative;
    background-color: transparent;
    margin-top: 250px;
}

.grid-container{
    display:grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 1px;
}


#SecondFrame{
    background-color: #268AFF;
    margin-top:150px;
    height:auto;
    width: 100%;
}

.secondContent{
    background-color: #268AFF;
}

#secondframetext{
    white-space: normal;
    color:white;
    position:relative;
    margin-top:200px;
    margin-left: 50px;
    margin-bottom: 130px;
    text-align:left;
}

#secondframetext > .lead{
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 3px;
}

#secondframetext > h1{
    font-size: 32px;
}

#secondframetext > .text-muted{
    color: white;
    font-size: 12px;
}

#secondGetStarted{
    color: #268AFF;
    width: 168px;
    font-size: 13px;
    height: 61px;
    width: 211px;
}




.thisdropdown{
    position: relative;
    display: inline-block;
}

.anotherdropdown{
    position: relative;
    display: inline-block;
}

.thisdropdown .dropdown-toggle::after {
    display: none;
}

.thisdropdown > .btn.btn-secondary.dropdown-toggle{
    background-color: transparent;
    color:black;
    border-style:none;
}

.thisdropdown > .dropdown-menu{
    background-color: transparent;
    border-style:none;
}

.thisdropdown > .dropdown-menu > .dropdown-item:hover{
    background-color: transparent;
}

.conteudo-frase {
    font-size: 14px;
    letter-spacing: 0.065cm;
    color: rgb(0, 127, 255);
}

.conteudo-titulo {
    font-size: 30px;
    font-weight: 700;
}

.conteudo-paragrafo {
    color: gray;
}

.imagem-pequena {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.conteudo-titulo-menor {
    font-weight: 700;
    font-size: small;
}

.circulo {
    background: rgb(0, 127, 255);
    border-radius: 50%;
    width: 70px;
    height: 70px; 
}

.quadrado-maior {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: contain;
    background: white;
}

.quadrado-menor {
    width: 100%;
    height: 280px;
    border-radius: 5px;
    background: white;
}

.texto-quadrado {
    padding-top: 8%;
}

.imagem-cameron {
    display: block;
    margin-left: 8%;
    margin-right: 8%;
}

.conteudo-design {
    display: block;
    margin-right: 8%
}

.imagem-baixo {
    width: 40%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}


.prices{
    background-image:url("./img/pricing-bg.png");
    background-repeat: no-repeat;
    color:#ffff ;
    
    padding-bottom: 100px;
    height: auto;
  }
 .footer{
   background-color: #E3EEF8 ;
   height: 500px;
 }
 .its_time{
   font-size: 7px;
   text-align: center;
 }
 .Readyto{
   text-align: center;
 }
 .price_boxes{
   margin-top: 50px;
 }
 .basic{
   font-size: 9px;
   color: #E5E5E5;
 }
 .pro{
   font-size: 9px;
   color: #666666;
 }
 .money{
   font-size: 25px;
   font-weight: bold;
   vertical-align: 7px;
 }
 .number{
   font-size: 33px;
   font-weight: bold;
 }
 .price{
   font-size:12px;
 }
 .pricepro{
   font-size:12px;
 }
 .good_for{
   font-size: 11px;
 }
 .list-group{
   background-color: transparent;
 }
 .basic > .border-0 > ul > .list-group-item{
   font-size: 13px;
   color: #FFFFFF;
   list-style: none;
   background-color: transparent;
   border:0;
 }
 .basic > .border-0 > ul > .list-group-item.disabled{
   color: #72818C;
 }
 .Pro > .border-0 > ul > .list-group-item{
   font-size: 13px;
   list-style: none;
   background-color: transparent;
   border:0;
 }
 #start-free-trial{
   /*background-color:#4285F4;*/
   color: #FFFFFF;
   background-color: #268AFF;
   border-color:#268AFF;
 }
 .no_credit{
   font-size: 11px;
 }
 .Pro{
   color:#000000;
   font-size: 10px;
 }
 #pro-free-trial{
   background-color: orangered;
   color: #FFFFFF;
 }

 .border-0{
   background-color: #2B405A;
   border-width: 0;
 }
 .footer>.container>.row>.col>.list-group>.list-group-item{
   background-color: transparent;
   border:0;
   text-decoration: none;
 }
 .list-group-item > a{
   color:black;
   font-weight: bold;
   text-decoration: none;
 }
 